body {
  background: #f1c40f;
}

#balance-header {
  margin: 8px;
  font-size: 24px;
  text-transform: uppercase;
}

#balance {
  margin: 0px 8px;
  font-size: 24px;
}

.add-button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 20px 8px;
  cursor: pointer;
  border-radius: 8px;
}

.add-button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#item-list {
  border:10px solid black;
  padding: 20px;
  display: inline-block;
  margin: 0px 8px;
}

.item {
  background-color: #3498db;
  border: none;
  padding: 20px;
  text-align: center;
  display: inline-block;
  margin: 8px 8px;
  cursor: pointer;
  border-radius: 8px;
}

.item:active {
  background-color: #00008B;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

p {
  text-align: center;
  color: white;
  user-select: none;
  font-size: 18px;
}

.item-name {
  font-size: 24px;
  text-transform: uppercase;
}

button:focus {outline:0;}